[build]
  command = "mkdir -p functions/backend && cp backend/main.py functions/backend/main.py && cp backend/sei_scraper.py functions/backend/sei_scraper.py && cp backend/__init__.py functions/backend/__init__.py && pip install -r backend/requirements.txt -t functions"
  functions = "functions"
  publish = "."

[functions]
  external_node_modules = ["python-multipart"]

[build.environment]
  PYTHON_VERSION = "3.9"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200