[build]
  command = "mkdir -p netlify/functions/api/backend && cp backend/main.py netlify/functions/api/backend/main.py && cp backend/sei_scraper.py netlify/functions/api/backend/sei_scraper.py && cp backend/__init__.py netlify/functions/api/backend/__init__.py && python3 -m pip install -r backend/requirements.txt -t netlify/functions/api"
  functions = "netlify/functions"
  publish = "."

[functions]
  included_files = []

[build.environment]
  PYTHON_VERSION = "3.9"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200